header {
  margin: 0;
}
header > a {
  display: block;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  height: 45px;
  background-color: black;
  color: white;
  padding: 15px;
  margin: 0;
}
.b-flex {
  display: flex;
}

.b-jcsb {
  justify-content: space-between;
}

.b-aic {
  align-items: center;
}

ul {
  list-style: none;
}

li {
  padding: 8px 16px;
}
